/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9ca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
